<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MULTILINGUAL APP</h1>
    <div>
        <a href="/set/locale/en">EN</a> <a href="/set/locale/fr">FR</a>
    </div>

    <div>
        <h2><%= res.__('welcome') %></h2>
    </div>

    <a href=""><%= res.__('home') %></a>


</body>
</html>
